:root {
    /* search icons and bg */
    --search: rgba(0, 0, 0, 0.5);
    --search-dark: rgba(255, 255, 255, 0.5);
    --bg-search: rgba(189, 189, 189, 0.5);

    /* background dark mode*/
    --bg-dark-mode: #232323;

    /* Pokemon type colors */
    --electric: linear-gradient(180deg, #E7C200 0%, #CBAA00 100%);
    --steel: linear-gradient(180deg, #89A6B2 0%, #6A818B 100%);
    --water: linear-gradient(180deg, #00B2FF 0%, #008CC6 100%);
    --dragon: linear-gradient(180deg, #FF6B00 0%, #B84D00 100%);
    --fairy: linear-gradient(180deg, #FF43CA 0%, #FF8BDF 100%);
    --ghost: linear-gradient(180deg, #080060 0%, #6862A8 100%);
    --fire: linear-gradient(180deg, #DA0000 0%, #A60000 100%);
    --ice: linear-gradient(180deg, #337D9C 0%, #70D5FF 100%);
    --bug: linear-gradient(180deg, #76AD00 0%, #9FAD00 100%);
    --fighting: linear-gradient(180deg, #7F0035 0%, #C10051 100%);
    --normal: linear-gradient(180deg, #8F765F 0%, #CCB39C 100%);
    --rock: linear-gradient(180deg, #936E4C 0%, #2F241A 100%);
    --grass: linear-gradient(180deg, #236C00 0%, #36A800 100%);
    --psychic: linear-gradient(180deg, #DB009E 0%, #6400E3 100%);
    --dark: linear-gradient(180deg, #1F0047 0%, #6B0091 100%);
    --ground: linear-gradient(180deg, #CCB39C 0%, #9A9A9A 100%);
    --poison: linear-gradient(180deg, #BE00FF 0%, #7F00AC 100%);
    --flying: linear-gradient(180deg, #0057FF 0%, #5AA6FF 100%);

    /* Pokemon background type colors*/
    --bg-steel: linear-gradient(180deg, #B5C9D2 0%, #8A9EA7 100%);
    --bg-electric: linear-gradient(180deg, #F9E373 0%, #D6C158 100%);
    --bg-water: linear-gradient(180deg, #6FD4FF 0%, #4DA4C8 100%);
    --bg-dragon: linear-gradient(180deg, #FFAE74 0%, #C68556 100%);
    --bg-fairy: linear-gradient(180deg, #FF83DC 0%, #FFCBF1 100%);
    --bg-ghost: linear-gradient(180deg, #423C82 0%, #9693AE 100%);
    --bg-fire: linear-gradient(180deg, #DF3A3A 0%, #FF9F9F 100%);
    --bg-ice: linear-gradient(180deg, #60899B 0%, #CDF0FF 100%);
    --bg-bug: linear-gradient(180deg, #9EC943 0%, #C4CF45 100%);
    --bg-fighting: linear-gradient(180deg, #8C3359 0%, #D54480 100%);
    --bg-normal: linear-gradient(180deg, #B19D8A 0%, #FFEEDF 100%);
    --bg-rock: linear-gradient(180deg, #BBA795 0%, #5F5348 100%);
    --bg-grass: linear-gradient(180deg, #6FB350 0%, #91B87E 100%);
    --bg-psychic: linear-gradient(180deg, #EE6BC9 0%, #9F68E6 100%);
    --bg-dark: linear-gradient(180deg, #4F386C 0%, #BA6AD7 100%);
    --bg-ground: linear-gradient(180deg, #D1D1D1 0%, #AF9B89 100%);
    --bg-poison: linear-gradient(180deg, #D764FF 0%, #9E54B8 100%);
    --bg-dark: linear-gradient(180deg, #4F386C 0%, #BA6AD7 100%);
    --bg-ground: linear-gradient(180deg, #D1D1D1 0%, #AF9B89 100%);
    --bg-flying: linear-gradient(180deg, #387CFF 0%, #A6CFFF 100%);
}

body {
    min-width: 400px;
    font-family:"Roboto", sans-serif;

}

.search {
    background-color: var(--bg-search);
    color: var(--search);
    border-radius: 10px;
    height: 30px;
}

.search:focus {
    background-color: var(--bg-search);
    color: var(--search);
}

.search-btn {
    top: 0;
    right: 0;
    height: 30px;
    color: var(--search);
    background-color: transparent;
}

.card {
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--bg-dark-mode);
    color: #FFFFFF;
    /*width: 360px;*/
    min-height: 170px;
}

.card-grass {
    background: var(--bg-grass);
}

.card-fire {
    background: var(--bg-fire);
}

.card-water{
    background: var(--bg-water);
}

.card-bug{
    background: var(--bg-bug)
}

.card-normal {
    background: var(--bg-normal)
}

.card-poison {
    background: var(--bg-poison)
}

.card-electric{
    background: var(--bg-electric)
}

.card-ground{
    background: var(--bg-ground)
}

.card-fairy{
    background: var(--bg-fairy)
}

.card-fighting{
    background: var(--bg-fighting)
}

.card-psychic{
    background: var(--bg-psychic)
}

.card-rock{
    background: var(--bg-rock)
}

.card-steel{
    background: var(--bg-steel)
}

.card-ice{
    background: var(--bg-ice)
}

.card-ghost{
    background: var(--bg-ghost)
}

.card-dragon{
    background: var(--bg-dragon)
}
.card:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/pokebola.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 60%;
    background-position: 120% 20%;
    opacity: 0.2;
    border-radius: 20px;
}

.card img {
    min-height: 130px;
    min-width: 130px;
}

.btn-type {
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
}

.btn-grass {
    background: var(--grass);
}

.btn-poison {
    background: var(--poison);
}

.btn-fire {
    background: var(--fire);
}

.btn-water {
    background: var(--water)
}

.btn-bug{
    background: var(--bug)
}

.btn-normal {
    background: var(--normal)
}

.btn-flying{
    background: var(--flying)
}

.btn-poison{
    background: var(--poison)
}

.btn-electric{
    background: var(--electric)
}

.btn-ground{
    background: var(--ground)
}

.btn-fairy{
    background: var(--fairy)
}

.btn-fighting{
    background: var(--fighting)
}

.btn-psychic{
    background: var(--psychic)
}

.btn-rock{
    background: var(--rock)
}

.btn-steel{
    background: var(--steel)
}

.btn-ice{
    background: var(--ice)
}

.btn-ghost{
    background: var(--ghost)
}

.btn-dragon{
    background: var(--dragon)
}

.btn-undefined{
    display: none;
    opacity: 0;
}

/* INDEX */

.index{
    background-image: var(--fire);
    background-repeat: no-repeat;
}

.logo{
    width: 100%;
    padding: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}

.logo-img{
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.text{
    word-break: break-word;
    color:#fff;
    text-decoration: none;
    font-size: 1rem;
}

.logo-poke{
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}

.circle{
    width: 300%;
    height: 200%;
    left: -102%;
    top: 48%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 0;
    position: fixed;
  }

.pokebola-img{
    z-index: 1;
}

/* DETAILS  */

.cards{
    background-image: url("/assets/img/bg/grass.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.numbers{
    padding: 0;
}

.poke-number{
    margin:0 auto;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.2)
}

.next-pokemon{
    height: 7rem;
    align-content:center;
    padding-top: 2.2rem;
}

.poke-name{
    font-size: 2rem;
    color: #fff;
}


/* STATS */

.stats{
    color: #fff;
}

.poke-stats{
    list-style: none;

}

.barra-progresso{
    background-color: #fff;
}
/* BREAK POINTS */
@media (min-width: 576px) {}

@media (min-width: 768px) {
    .card {
        max-width: 49%;
    }
}

@media (min-width: 992px) {
    .card {
        max-width: 32.5%;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}


@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}


:root {
    /* search icons and bg */
    --search: rgba(0, 0, 0, 0.5);
    --search-dark: rgba(255, 255, 255, 0.5);
    --bg-search: rgba(189, 189, 189, 0.5);

    /* background dark mode*/
    --bg-dark-mode: #232323;

    /* Pokemon type colors */
    --eletric: linear-gradient(180deg, #E7C200 0%, #CBAA00 100%);
    --steel: linear-gradient(180deg, #89A6B2 0%, #6A818B 100%);
    --water: linear-gradient(180deg, #00B2FF 0%, #008CC6 100%);
    --dragon: linear-gradient(180deg, #FF6B00 0%, #B84D00 100%);
    --fairy: linear-gradient(180deg, #FF43CA 0%, #FF8BDF 100%);
    --ghost: linear-gradient(180deg, #080060 0%, #6862A8 100%);
    --fire: linear-gradient(180deg, #DA0000 0%, #A60000 100%);
    --ice: linear-gradient(180deg, #337D9C 0%, #70D5FF 100%);
    --bug: linear-gradient(180deg, #76AD00 0%, #9FAD00 100%);
    --fighting: linear-gradient(180deg, #7F0035 0%, #C10051 100%);
    --normal: linear-gradient(180deg, #8F765F 0%, #CCB39C 100%);
    --rock: linear-gradient(180deg, #936E4C 0%, #2F241A 100%);
    --grass: linear-gradient(180deg, #236C00 0%, #36A800 100%);
    --psychic: linear-gradient(180deg, #DB009E 0%, #6400E3 100%);
    --dark: linear-gradient(180deg, #1F0047 0%, #6B0091 100%);
    --ground: linear-gradient(180deg, #CCB39C 0%, #9A9A9A 100%);
    --poison: linear-gradient(180deg, #BE00FF 0%, #7F00AC 100%);
    --flying: linear-gradient(180deg, #0057FF 0%, #5AA6FF 100%);

    /* Pokemon background type colors*/
    --bg-steel: linear-gradient(180deg, #B5C9D2 0%, #8A9EA7 100%);
    --bg-eletric: linear-gradient(180deg, #F9E373 0%, #D6C158 100%);
    --bg-water: linear-gradient(180deg, #6FD4FF 0%, #4DA4C8 100%);
    --bg-dragon: linear-gradient(180deg, #FFAE74 0%, #C68556 100%);
    --bg-fairy: linear-gradient(180deg, #FF83DC 0%, #FFCBF1 100%);
    --bg-ghost: linear-gradient(180deg, #423C82 0%, #9693AE 100%);
    --bg-fire: linear-gradient(180deg, #DF3A3A 0%, #FF9F9F 100%);
    --bg-ice: linear-gradient(180deg, #60899B 0%, #CDF0FF 100%);
    --bg-bug: linear-gradient(180deg, #9EC943 0%, #C4CF45 100%);
    --bg-fighting: linear-gradient(180deg, #8C3359 0%, #D54480 100%);
    --bg-normal: linear-gradient(180deg, #B19D8A 0%, #FFEEDF 100%);
    --bg-rock: linear-gradient(180deg, #BBA795 0%, #5F5348 100%);
    --bg-grass: linear-gradient(180deg, #6FB350 0%, #91B87E 100%);
    --bg-psychic: linear-gradient(180deg, #EE6BC9